/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "theme";

body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
  background-color: #f2f2f2 !important;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 12.7px !important;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

.custom-link {
  color: white;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.w100 {
  width: 100%;
}

.min-height-93 {
  min-height: calc(100vh - 50px) !important;
}

.height-72-px {
  height: 72px;
}

.custom-icon {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.top-bar {
  border-bottom: 4px solid #3cf;
}

.mat-toolbar.mat-primary {
  background: #006aa6;
  color: #fff;
}

mat-toolbar {
  height: 50px !important;
  font-size: 17px;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.proto-fieldset {
  padding-bottom: 0 !important;
  padding-top: 0.7rem !important;
}

.orSeparator {
  margin-right: 5px;
  margin-left: 1px;
}

.padding-bottom-15 {
  padding-bottom: 1.34375em;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.button-color {
  background-color: #006aa6 !important;
  color: white !important;
}

.color-primary {
  color: #006aa6 !important;
}

.close-icon {
  cursor: pointer;
  color: gray;

  &:hover {
    color: black;
  }
}

.span-link {
  color: #006aa6 !important;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.main-heading {
  margin: -15px -15px 15px;
}

.main-heading {
  div {
    font-size: 30px;
  }

  border-bottom: solid 1px rgba(0, 0, 0, .12);
  box-shadow: none !important;
}

@media (max-width: 600px) {
  .main-heading {
    div {
      font-size: 20px;
    }

    border-bottom: solid 1px rgba(0, 0, 0, .12);
    box-shadow: none !important;
  }
}

:host::ng-deep .mat-header-cell {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline;
}

legend {
  width: auto !important;
}

.gm-style .gm-style-iw {
  font: 400 5px Roboto, Arial, sans-serif;
  font-size: 5px !important;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 312px;

  div {
    div {
      font-size: 15px !important;
    }
  }

  //font-size: 12px;
  //font-family: sans-serif;
  //text-transform: uppercase;
}

mat-dialog-container {
  height: auto !important;
}

.leaflet-control-mapbox-geocoder-form {
  input {
    font-size: 15px;
    width: 100% !important;
  }
}
