@import '~@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-light-blue, 500);
$my-app-accent: mat-palette($mat-light-blue, 900);
//$my-app-warn: mat-palette($mat-deep-orange);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
